.components {
  &__card {
    width: 75%;
    min-height: 165px;
    margin: 40px auto;
    box-shadow: 0 15px 21px -8px rgba(0, 0, 0, .14);
    border: none;
    border-radius: 10px;
    background: #C6C6C6;
    padding: 40px 60px;
  }
}
