@import "../../assets/styles/theme/variables";

.auth-page {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: radial-gradient(circle, #8a7466, #68554f, #463937, #261f20, #000000);

  &__header {
    display: flex;
    justify-content: flex-end;
    margin: 15px 15px 0 0;

    & button {
      margin: 0 10px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;

    &--logo {
      display: flex;
      justify-content: center;
    }

    &--field {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      & .label {
        color: $black;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
        margin-left: 2px;
      }

      & .input {
        font-family: inherit;
        font-size: 16px;
        font-weight: 400;
        height: 48px !important;
        padding: 0 15px;
        background: $white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
      }
    }

    &--submit {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;

    & p {
      font-size: 16px;
      color: $white;
    }
  }
}
