.market {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    @media all and (max-width: 1400px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media all and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media all and (max-width: 1000px) {
      grid-template-columns: 1fr 1fr;
    }

    &--item {
      display: flex;
      flex-direction: column;
      margin: 20px;
      align-items: center;

      p {
        margin-bottom: 0;

      }
    }
  }

  &__button {
    margin-bottom: 40px;
    width: 300px;
  }

  &__book {
    display: flex;

    &--info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;

      button {
        display: block;
        margin: 0 auto;
        width: 300px;
      }
    }
  }
}
