@import "../../assets/styles/theme/variables";

.page {
  &__background {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(circle, #2d3630, #303630, #323631, #343732, #363734);
    padding-top: 60px;
  }
}

.profile {
  &__user {
    display: flex;
    flex-direction: row;

    &--info {
      margin-left: 60px;
      font-size: 18px;
      font-weight: 600;
    }
  }
  &__orders {
    display: flex;
    flex-direction: column;
    &--title {
      margin: 0 auto 20px auto;
    }
    &--list {
      display: flex;
      overflow-x: auto;
      img {
        margin: 20px;
        &:hover {
          cursor: pointer;
          box-shadow: 1px 1px 10px black;
        }
      }
    }
    &--item {
      display: flex;
      flex-direction: column;

      p {
        text-align: center;
        font-size: 12px;
        width: 122px;
        text-overflow:ellipsis;
        overflow:hidden;
        margin: 0 20px;
        color: black;

        &:hover {
          text-underline: none;
        }
      }
    }
  }
  &__order {
    display: flex;
    &--info {
      margin-left: 40px;
    }
    &--comments {
      list-style-type: circle;
      li {
        margin: 20px 0;
        font-size: 14px;
      }
    }
  }

  .input {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    height: 48px !important;
    padding: 0 15px;
    background: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
}
