@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary-font: 'Roboto';

$primary-color: #d5ac78; // background etc
$primary-color-dark: darken($primary-color, 50%);
$primary-color-light: lighten($primary-color, 50%);

$title-color: #222222;

$text-color: #222222;

$white: #fff;
$offwhite: #f9f9ff;
$black: #222;
